/* Navbar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #bcd6f1;
  border-bottom: 1px solid #e0e0e0;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navList li {
  cursor: pointer;
  font-size: 16px;
}

.navList li:hover {
  color: #85bcfb;
}
.Btn {
  padding: 8px 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}
