.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  max-width: 480px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.modal.title {
  margin: 20px;
}
