/* Post List */
.postListContainer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.postList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}
.title {
  text-align: center;
  margin-top: 5px;
}
.postItem {
  flex-basis: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.postItem:hover {
  background-color: #ececec;
}
